AddressBook/Connected Services/ContactServiceReference/ContactServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContactServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContactServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDto" nillable="true" type="tns:ContactDto" />
  <xs:complexType name="ArrayOfContactDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDto" nillable="true" type="tns:ContactDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDto" nillable="true" type="tns:ArrayOfContactDto" />
</xs:schema>